@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 1.6rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.calculator {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 5rem;
}
.calculator_display {
  width: 100%;
  height: 10rem;
  background-color: rgba(12, 12, 12, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Fira Code", monospace;
  font-size: 3rem;
}
.calculator_buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30%;
  justify-content: center;
  align-items: center;
}
.calculator_buttons_numbers {
  background-color: orange;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.calculator_buttons_rest {
  width: 100%;
  padding: 1rem;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: beige;
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: 700;
}