.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232326;
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 2rem 2rem 0rem rgba(0, 0, 0, 0.3);
  &_display {
    width: 100%;
    height: 10rem;
    background: linear-gradient(
      5deg,
      rgba(88, 88, 89, 1) 30%,
      rgba(117, 117, 117, 1) 90%
    );
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Fira Code", monospace;
    font-size: 3rem;
    color: #f2f2f2;
  }
  &_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
    &_numbers {
      padding: 1rem;
      display: grid;
      height: 100%;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: top;
      gap: 1rem;
    }
    .buttonEqual {
      grid-column: 1/-1;
      margin: auto 1rem;
    }
    &_rest {
      width: 100%;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .button {
        background-color: #333336;
      }
    }
  }
}

//General button design
.button {
  // width: 10rem;
  // height: 10rem;
  background-color: #585859;
  border-radius: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: #b9bfb4;
  // box-shadow: inset 0rem 0rem 1rem #686868;
}
.decimalInput {
  width: 100%;
  text-align: center;
}
.delete {
  background-color: #bb3727;
  font-size: 3rem;
}
.button.clear {
  background-color: #bb3727;
  font-size: 3rem;
}
